{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div>
  <header>
      <div>
          <br>
          <center><h1>アカウントの作成</h1></center>
          <br>
      </div>
  </header>
</div>

<form method="POST">
  {% csrf_token %}
  <div class="container">
      {{ form |crispy}}
      <div class="form-group text-right" style="padding:20px 0">
      <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
  </div>
</form>

<center><a href="{% url 'login' %}">ログイン</a>をする方はこちら</center>
<br><br><br>

{% endblock %}
