{% extends 'base.html' %}

{% block content %}
<div>
    <header>
        <div>
            <br>
            <center><h1>サイトの説明</h1></center>
            <br>
        </div>
    </header>
</div>

<div class="container">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">このサイトは東京都市大学の公式サイトではなく、個人が作成したものです。</li>
            <li class="list-group-item">自分の順位、希望の研究室は投票に反映されますが、他人には公開されません。</li>
            <li class="list-group-item">このサイトでは研究室ごとに自分の順位が把握できます。</li>
            <li class="list-group-item">プロフィールから順位、希望の研究室が変更できます。</li>
            <li class="list-group-item">投票数はあくまでこのサイト内の投票数なので参考程度に使用してください。</li>
            <li class="list-group-item">何か質問があれば問合せフォームもしくはLINEグループに投稿してください。</li>
        </ul>
    </div>
</div>

<br>
<div class="container">
    <div>
        <br>
        <center><a href="{% url 'signup' %}">アカウント作成</a>画面へ</center>
        <br>
    </div>
    <div>
        <br>
        <center><a href="{% url 'login' %}">ログイン</a>画面へ</center>
        <br>
    </div>
</div>
<br><br><br>

{% endblock %}